
/node_modules/


/dist/
/build/

/public/static/


/tsconfig.tsbuildinfo


.env.local
.env.development.local
.env.production


.vscode/
/.idea/


.DS_Store
Thumbs.db


npm-debug.log*
yarn-debug.log*
yarn-error.log*

.tailwindcss/



postcss.config.js

# Jest (if you're using Jest for testing)
.jest-cache/
/coverage/
