.container {
  width: 1079px;
  height: 678px;
  margin: 0 auto;
  /* border: 1px solid; */
}

.header {
  width: 581px;
  height: 112px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  margin-bottom: 80px;
}

.header h1 {
  font-weight: 700;
  font-size: 40px;
  color: #212121;
  margin-bottom: 12px;
}

.header p {
  font-weight: 400;
  font-size: 16px;
  color: #212121;
}

/* .cardsContainer {
  display: flex;
  width: 100%;
} */

.childContainer:nth-child(1) {
  margin-bottom: 80px;
}

.childContainer {
  display: flex;
  gap: 40px;
}

.card {
  width: 333px;
  /* height: 198px; */
  padding: 20px;
  border-radius: 12px;
  border: 0.3px solid #e2e2e2;
}

.card img {
  margin-bottom: 24px;
}

.card h2 {
  font-weight: 700;
  font-size: 22px;
  color: #1c1c1c;
}

.card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
}
